.resa {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f6f6f6;
  padding: 20px 0px;
  @include mobiles {
    text-align: center;
    padding: 20px;
  }
  @include portrait {
    padding: 0px 0px 10px 0px;
  }
  &__subtitle {
    color:#666666;
    margin: 0px 0px 20px 0px;
  }
  &__btn {
    @include resabtn;
  }
}
