.fonction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
        &__title {
            font-weight: bold;
            padding: 10px 0px;
        }
        &__boxbtn {
            display: flex;
            flex-direction: row;
            font-weight: bold;
        }
        &__btn {
            @include btnfonct;
        }
}