.choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  margin: 0px auto 0px auto;
  padding-bottom: 20px;
  @include mobiles {
    width: 100%;
    margin: 0px auto;
  }
  @include portrait {
    margin: 0px auto;
  }
  &__title {
    padding-left: 20px;
    @include mobiles {
      display: flex;
      width: 100%;
      padding-left: 10px;
    }
    @include portrait {
      width: 100%;
      padding-left: 20px;
    }
  }
  &__box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin: 0px;
    @include portrait {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;
    }
    @include mobiles {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
    }
  }
}
.box__btn {
  @include choicebtn;
}
