.blockfoot {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
        &__title {
            margin-top: 20px;
        }
        &__title img {
            filter: invert(100%);
            width: 150px;
        }
        &__link {
            padding: 0px;
            margin: 0px;
            color: #fff;
        }
        &__link ul {
            padding: 0px;
        }
        &__link li {
            list-style-type: none;
            margin-bottom: 10px;
        }
        &__link li i {
            width: 20px;
            margin-right: 10px;
            font-size: 20px;
        }
        &__link li a {
            font-size: 20px;
            color: #fff;
            text-decoration: none;
        }


}