footer {
  background-color: $bg-footer;
}
.blockfoot {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 250px;
  margin: 0px auto;
  @include portrait {
    width: 95%;
  }
  @include mobiles {
    margin-left: 20px;
  }
  &__title {
    margin-top: 20px;
  }
  &__title img {
    filter: invert(100%);
    width: 150px;
  }
  &__link {
    padding: 0px;
    margin: 0px;
    color: #fff;
  }
  &__link ul {
    padding: 0px;
  }
  &__link li {
    list-style-type: none;
    margin-bottom: 10px;
  }
  &__link li i {
    width: 20px;
    margin-right: 10px;
    font-size: 18px;
    @include mobiles {
      font-size: 14px;
      margin-right: 5px;
    }
  }
  &__link li a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    @include mobiles {
      font-size: 14px;
    }
  }
}
