@charset "UTF-8";
/** Base color**/
/*==== Variables Box shadow ========*/
/*tablets, ipads (portrait)*/
/*smartphones mobiles (portrait) */
/** Mixin de la partie page d'addueil **/
/** Mixin de la partie menu restaurant **/
/** Box sizing **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0px;
  width: 100%;
  margin: 0px auto;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}
@media (min-width: 320px) and (max-width: 767px) {
  h1 {
    font-size: 20px;
  }
}

h2 {
  font-size: 24px;
}
@media (min-width: 320px) and (max-width: 767px) {
  h2 {
    font-size: 18px;
  }
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

/** Bouton du block réservation page d'accueil **/
/** Bouton du block Fonctionnement page d'accueil **/
/** STYLE POUR LE BOUTON COEUR FAVORI
<i class="far fa-heart"></i>
====================================**/
/*
*------------------------------------------
* Animation preload
*------------------------------------------
*/
.animlogo {
  animation: animlogo 4s cubic-bezier(0.77, 0.43, 0.1, 1);
}

@keyframes animlogo {
  0% {
    transform: scaleX(0);
    transform-origin: 0% 0%;
    opacity: 1;
  }
  100% {
    transform: scaleX(1);
    transform-origin: 0% 0%;
    opacity: 1;
  }
}
.animexit {
  animation: exit 1s ease-out 4s both;
}

@keyframes exit {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(-1100px);
  }
}
/******************************************************************************/
/*
* ----------------------------------------
* Animation carte des menus
* ----------------------------------------
*/
@keyframes animcheck {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.loader {
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.loader__box {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  position: relative;
  background-color: #fff;
  width: 320px;
  height: 320px;
  margin: 0 auto;
}
.loader__img {
  z-index: 1;
  position: absolute;
  width: 320px;
}
.loader__anim {
  background: linear-gradient(162deg, #ff79da 0%, #9356dc 90%);
  display: block;
  width: 320px;
  margin: 0px auto;
  height: 90px;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
}
header .logo {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
header .logo img {
  width: 350px;
  padding: 10px 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .logo img {
    width: 200px;
  }
}
header .boxlocal {
  display: flex;
  background: linear-gradient(#f2f2f2, #ccc);
  border-top: 2px solid #ccc;
  width: 100%;
  height: 40px;
  padding: 10px 0px;
  justify-content: center;
}
header .boxlocal .boxlocal__title {
  font-weight: bold;
}
header .boxlocal i {
  padding-right: 10px;
}

.choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .choice {
    margin: 10px 0px 50px 0px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .choice {
    margin: 0px;
  }
}
.choice__title {
  padding-left: 20px;
  width: 80%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .choice__title {
    display: flex;
    width: 100%;
    padding-left: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .choice__title {
    width: 100%;
    padding-left: 20px;
  }
}
.choice__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 0px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .choice__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .choice__box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
}

.box__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  width: 350px;
  height: 50px;
  border: none;
  margin: 0px 20px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 1px 1px 10px #999;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .box__btn {
    width: 100%;
    margin-bottom: 30px;
    font-size: 1em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .box__btn {
    width: 100%;
    margin: 10px 0px 0px 10px;
    font-size: 0.9em;
  }
}
.box__btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50px;
  background-color: #9356dc;
  height: 30px;
  width: 30px;
  margin-left: -20px;
}
.box__btn i {
  padding: 0px 10px;
  color: #9356dc;
}
@media (min-width: 320px) and (max-width: 767px) {
  .box__btn i {
    padding: 0px 15px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .box__btn i {
    padding: 0px 20px;
  }
}
.box__btn:hover {
  box-shadow: 2px 2px 10px #666;
  background-color: #f5edff;
}
.box__btn--actif {
  background-color: #f5edff;
}

.resa {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  padding: 20px 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .resa {
    text-align: center;
    padding: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .resa {
    padding: 0px 0px 10px 0px;
  }
}
.resa__subtitle {
  margin: 0px 0px 20px 0px;
}
.resa__btn {
  background: linear-gradient(162deg, #ff79da 0%, #9356dc 90%);
  text-align: center;
  color: #fff;
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  box-shadow: 1px 1px 10px #999;
}
.resa__btn:hover {
  box-shadow: 2px 2px 10px #666;
  cursor: pointer;
}

footer {
  background-color: #353535;
}

.blockfoot {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 250px;
  margin: 0px auto;
}
.blockfoot__title {
  margin-top: 20px;
}
.blockfoot__title img {
  filter: invert(100%);
  width: 150px;
}
.blockfoot__link {
  padding: 0px;
  margin: 0px;
  color: #fff;
}
.blockfoot__link ul {
  padding: 0px;
}
.blockfoot__link li {
  list-style-type: none;
  margin-bottom: 10px;
}
.blockfoot__link li i {
  width: 20px;
  margin-right: 10px;
  font-size: 18px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .blockfoot__link li i {
    font-size: 14px;
    margin-right: 5px;
  }
}
.blockfoot__link li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .blockfoot__link li a {
    font-size: 14px;
  }
}

/** Styles de la grid**/
.grid {
  display: grid;
  position: relative;
  background-color: #ccc;
  border-radius: 0px 0px 20px 20px;
  width: 80%;
  margin: 0px auto 0px auto;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  height: 100%;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .grid {
    margin: -100px 0px 0px 0px;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .grid {
    margin-top: -200px;
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr;
  }
}
.grid__title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Shrikhand", cursive;
  width: 100%;
  font-size: 36px;
  padding: 20px 0px 20px 20px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 4;
}
.grid__title h1 {
  margin: 0px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .grid__title {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 2;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .grid__title {
    font-size: xx-small;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 1;
    grid-column-end: 2;
  }
}
.grid__heart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}
.grid__entree {
  min-width: 90%;
  background-color: #f2f2f2;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
.grid__entreetitle {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-left: 10px;
}
.grid__entreetitle hr {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #99e2d0;
  width: 40px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .grid__entree {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 1;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .grid__entree {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 1;
  }
}
.grid__plat {
  min-width: 90%;
  background-color: #f2f2f2;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 2;
}
.grid__plattitle {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-left: 10px;
}
.grid__plattitle hr {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #99e2d0;
  width: 40px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .grid__plat {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 1;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .grid__plat {
    grid-row-start: 3;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 1;
  }
}
.grid__dessert {
  min-width: 90%;
  background-color: #f2f2f2;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
}
.grid__desserttitle {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-left: 10px;
}
.grid__desserttitle hr {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #99e2d0;
  width: 40px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .grid__dessert {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 1;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .grid__dessert {
    grid-row-start: 4;
    grid-column-start: 1;
    grid-row-end: 4;
    grid-column-end: 1;
  }
}

/**==================**/
.menuimg {
  display: flex;
  justify-content: center;
  z-index: 10;
  width: 100%;
  height: 400px;
  margin: 0px auto;
  border-top: 2px solid #f2f2f2;
}
.menuimg img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 75%;
  border-radius: 0px 0px 20px 20px;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .menuimg img {
    object-position: 50% 100%;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .menuimg img {
    height: 250px;
    object-position: 50% 90%;
    width: 100%;
  }
}

.carte {
  margin-bottom: 10px;
  display: block;
  background-color: #fff;
  display: flex;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #999;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
}
.carte__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.carte__header h4 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carte__header p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carte__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 10px;
}
.carte__confirmation {
  background-color: #99e2d0;
  margin: -10px -80px -10px 14px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.carte:hover .carte__confirmation {
  margin-right: -10px;
}
.carte__wrapicon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carte__icon {
  font-size: 30px;
  color: #fff;
}
.carte:hover .carte__icon {
  transform: rotate(360deg);
  transition-duration: 600ms;
  font-size: 30px;
  color: #fff;
}

.commande {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-size: x-large;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .commande {
    background-color: #ccc;
    margin: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .commande {
    background-color: #ccc;
  }
}
.commande__btn {
  width: 300px;
  margin: 0px auto;
  background: linear-gradient(162deg, #ff79da 0%, #9356dc 90%);
  text-align: center;
  color: #fff;
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  box-shadow: 1px 1px 10px #999;
}
.commande__btn:hover {
  box-shadow: 2px 2px 10px #666;
  cursor: pointer;
}

.backarrow {
  position: absolute;
  width: 80%;
}
.backarrow a {
  color: black;
}
@media (min-width: 320px) and (max-width: 767px) {
  .backarrow {
    margin-left: 20px;
    width: 100%;
  }
}
.backarrow__ico {
  font-size: 40px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .backarrow__ico {
    font-size: 20px;
  }
}

.animcheck--0 {
  animation-name: animcheck;
  animation-duration: 0ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--1 {
  animation-name: animcheck;
  animation-duration: 100ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--2 {
  animation-name: animcheck;
  animation-duration: 200ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--3 {
  animation-name: animcheck;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--4 {
  animation-name: animcheck;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--5 {
  animation-name: animcheck;
  animation-duration: 500ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--6 {
  animation-name: animcheck;
  animation-duration: 600ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--7 {
  animation-name: animcheck;
  animation-duration: 700ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--8 {
  animation-name: animcheck;
  animation-duration: 800ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--9 {
  animation-name: animcheck;
  animation-duration: 900ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--10 {
  animation-name: animcheck;
  animation-duration: 1000ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--11 {
  animation-name: animcheck;
  animation-duration: 1100ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--12 {
  animation-name: animcheck;
  animation-duration: 1200ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--13 {
  animation-name: animcheck;
  animation-duration: 1300ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--14 {
  animation-name: animcheck;
  animation-duration: 1400ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--15 {
  animation-name: animcheck;
  animation-duration: 1500ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--16 {
  animation-name: animcheck;
  animation-duration: 1600ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--17 {
  animation-name: animcheck;
  animation-duration: 1700ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--18 {
  animation-name: animcheck;
  animation-duration: 1800ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--19 {
  animation-name: animcheck;
  animation-duration: 1900ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--20 {
  animation-name: animcheck;
  animation-duration: 2000ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--21 {
  animation-name: animcheck;
  animation-duration: 2100ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--22 {
  animation-name: animcheck;
  animation-duration: 2200ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--23 {
  animation-name: animcheck;
  animation-duration: 2300ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--24 {
  animation-name: animcheck;
  animation-duration: 2400ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--25 {
  animation-name: animcheck;
  animation-duration: 2500ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--26 {
  animation-name: animcheck;
  animation-duration: 2600ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--27 {
  animation-name: animcheck;
  animation-duration: 2700ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--28 {
  animation-name: animcheck;
  animation-duration: 2800ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--29 {
  animation-name: animcheck;
  animation-duration: 2900ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--30 {
  animation-name: animcheck;
  animation-duration: 3000ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--31 {
  animation-name: animcheck;
  animation-duration: 3100ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--32 {
  animation-name: animcheck;
  animation-duration: 3200ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--33 {
  animation-name: animcheck;
  animation-duration: 3300ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--34 {
  animation-name: animcheck;
  animation-duration: 3400ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--35 {
  animation-name: animcheck;
  animation-duration: 3500ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--36 {
  animation-name: animcheck;
  animation-duration: 3600ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--37 {
  animation-name: animcheck;
  animation-duration: 3700ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--38 {
  animation-name: animcheck;
  animation-duration: 3800ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--39 {
  animation-name: animcheck;
  animation-duration: 3900ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--40 {
  animation-name: animcheck;
  animation-duration: 4000ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--41 {
  animation-name: animcheck;
  animation-duration: 4100ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--42 {
  animation-name: animcheck;
  animation-duration: 4200ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--43 {
  animation-name: animcheck;
  animation-duration: 4300ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--44 {
  animation-name: animcheck;
  animation-duration: 4400ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--45 {
  animation-name: animcheck;
  animation-duration: 4500ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--46 {
  animation-name: animcheck;
  animation-duration: 4600ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--47 {
  animation-name: animcheck;
  animation-duration: 4700ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--48 {
  animation-name: animcheck;
  animation-duration: 4800ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--49 {
  animation-name: animcheck;
  animation-duration: 4900ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--50 {
  animation-name: animcheck;
  animation-duration: 5000ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--51 {
  animation-name: animcheck;
  animation-duration: 5100ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--52 {
  animation-name: animcheck;
  animation-duration: 5200ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--53 {
  animation-name: animcheck;
  animation-duration: 5300ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--54 {
  animation-name: animcheck;
  animation-duration: 5400ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--55 {
  animation-name: animcheck;
  animation-duration: 5500ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--56 {
  animation-name: animcheck;
  animation-duration: 5600ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--57 {
  animation-name: animcheck;
  animation-duration: 5700ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--58 {
  animation-name: animcheck;
  animation-duration: 5800ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--59 {
  animation-name: animcheck;
  animation-duration: 5900ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--60 {
  animation-name: animcheck;
  animation-duration: 6000ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--61 {
  animation-name: animcheck;
  animation-duration: 6100ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--62 {
  animation-name: animcheck;
  animation-duration: 6200ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--63 {
  animation-name: animcheck;
  animation-duration: 6300ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--64 {
  animation-name: animcheck;
  animation-duration: 6400ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--65 {
  animation-name: animcheck;
  animation-duration: 6500ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--66 {
  animation-name: animcheck;
  animation-duration: 6600ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--67 {
  animation-name: animcheck;
  animation-duration: 6700ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--68 {
  animation-name: animcheck;
  animation-duration: 6800ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--69 {
  animation-name: animcheck;
  animation-duration: 6900ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--70 {
  animation-name: animcheck;
  animation-duration: 7000ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--71 {
  animation-name: animcheck;
  animation-duration: 7100ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--72 {
  animation-name: animcheck;
  animation-duration: 7200ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--73 {
  animation-name: animcheck;
  animation-duration: 7300ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--74 {
  animation-name: animcheck;
  animation-duration: 7400ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--75 {
  animation-name: animcheck;
  animation-duration: 7500ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--76 {
  animation-name: animcheck;
  animation-duration: 7600ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--77 {
  animation-name: animcheck;
  animation-duration: 7700ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--78 {
  animation-name: animcheck;
  animation-duration: 7800ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--79 {
  animation-name: animcheck;
  animation-duration: 7900ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--80 {
  animation-name: animcheck;
  animation-duration: 8000ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--81 {
  animation-name: animcheck;
  animation-duration: 8100ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--82 {
  animation-name: animcheck;
  animation-duration: 8200ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--83 {
  animation-name: animcheck;
  animation-duration: 8300ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--84 {
  animation-name: animcheck;
  animation-duration: 8400ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--85 {
  animation-name: animcheck;
  animation-duration: 8500ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--86 {
  animation-name: animcheck;
  animation-duration: 8600ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--87 {
  animation-name: animcheck;
  animation-duration: 8700ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--88 {
  animation-name: animcheck;
  animation-duration: 8800ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--89 {
  animation-name: animcheck;
  animation-duration: 8900ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--90 {
  animation-name: animcheck;
  animation-duration: 9000ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--91 {
  animation-name: animcheck;
  animation-duration: 9100ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--92 {
  animation-name: animcheck;
  animation-duration: 9200ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--93 {
  animation-name: animcheck;
  animation-duration: 9300ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--94 {
  animation-name: animcheck;
  animation-duration: 9400ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--95 {
  animation-name: animcheck;
  animation-duration: 9500ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--96 {
  animation-name: animcheck;
  animation-duration: 9600ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--97 {
  animation-name: animcheck;
  animation-duration: 9700ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--98 {
  animation-name: animcheck;
  animation-duration: 9800ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}
.animcheck--99 {
  animation-name: animcheck;
  animation-duration: 9900ms;
  animation-timing-function: cubic-bezier(0.39, 0.575, 0.565, 1);
  animation-fill-mode: both;
  animation-delay: 0.6s;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 10px 10px 40px 10px;
  width: 100%;
  margin: 0px auto;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .restaurant {
    width: 100%;
    align-items: center;
    padding: 0px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .restaurant {
    align-items: center;
    width: 100%;
  }
}
.restaurant__title {
  margin: 0px auto;
  padding-left: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .restaurant__title {
    width: 100%;
    padding-left: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1280px) {
  .restaurant__title {
    width: 100%;
  }
}
.restaurant__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: 0px auto;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .restaurant__container {
    flex-wrap: wrap;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .restaurant__container {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.card {
  position: relative;
  border-radius: 20px;
  margin: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 10px #999;
}
.card:hover {
  box-shadow: 2px 2px 10px #666;
}
.card a {
  text-decoration: none;
  color: black;
}
@media (min-width: 768px) and (max-width: 1280px) {
  .card {
    width: 40%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card {
    width: 90%;
  }
}
.card__img img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}
.card__news {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px 5px 10px;
  background-color: #99e2d0;
}
.card__foot {
  display: flex;
  flex-direction: row;
}
.card__footblocktext {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50px;
  padding: 5px 0px 0px 5px;
}
.card__footext {
  padding-left: 15px;
  font-weight: bold;
}
.card__footsubtext {
  padding-left: 15px;
}
.card__footheart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 30px;
}

.btnheart {
  position: relative;
}
.btnheart__off {
  position: absolute;
  font-size: 30px;
}
.btnheart__on {
  position: absolute;
  opacity: 0;
  transform: translatez(0px);
  font-size: 34px;
}
.btnheart__on:hover {
  background: linear-gradient(162deg, #ff79da 0%, #9356dc 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition-delay: 200ms;
  transition-duration: 800ms;
  transform: translatez(34px);
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
