@charset "UTF-8";
/** Base color**/
/*==== Variables Box shadow ========*/
/*tablets, ipads (portrait)*/
/*smartphones mobiles (portrait) */
/** Mixin de la partie page d'addueil **/
/** Mixin de la partie menu restaurant **/
/** Box sizing **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0px;
}

main {
  width: 100%;
  margin: 0px;
}

footer {
  background-color: #353535;
  width: 100%;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

/** Bouton du block réservation page d'accueil **/
/** Bouton du block Fonctionnement page d'accueil **/
header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  width: 100%;
}
header a {
  width: 100%;
}
header .logo img {
  width: 350px;
  padding: 10px 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  header .logo img {
    width: 200px;
  }
}
header .boxlocal {
  display: flex;
  width: 100%;
  height: 40px;
  padding: 10px 0px;
  justify-content: center;
  background: linear-gradient(#f1f1f1, lightgray);
  border-top: 2px solid #ccc;
}
header .boxlocal .boxlocal__title {
  font-weight: bold;
}
header .boxlocal i {
  padding-right: 10px;
}

.choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .choice {
    margin: 10px 0px 50px 0px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .choice {
    margin: 0px;
  }
}
.choice__title {
  padding-left: 20px;
  width: 80%;
}
@media (min-width: 320px) and (max-width: 767px) {
  .choice__title {
    display: flex;
    width: 100%;
    padding-left: 10px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .choice__title {
    width: 100%;
    padding-left: 20px;
  }
}
.choice__box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 90%;
  margin: 0px;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .choice__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .choice__box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }
}

.box__btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  width: 350px;
  height: 50px;
  border: none;
  margin: 0px 20px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 1px 1px 10px #999;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .box__btn {
    width: 100%;
    margin-bottom: 30px;
    font-size: 1em;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .box__btn {
    width: 100%;
    margin: 10px 0px 0px 10px;
    font-size: 0.9em;
  }
}
.box__btn span {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50px;
  background-color: #9356dc;
  height: 30px;
  width: 30px;
  margin-left: -20px;
}
.box__btn i {
  padding: 0px 10px;
  color: #9356dc;
}
@media (min-width: 320px) and (max-width: 767px) {
  .box__btn i {
    padding: 0px 15px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .box__btn i {
    padding: 0px 20px;
  }
}
.box__btn:hover {
  box-shadow: 2px 2px 10px #666;
  background-color: #f5edff;
}
.box__btn--actif {
  background-color: #f5edff;
}

.resa {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  padding: 20px 0px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .resa {
    text-align: center;
    padding: 20px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .resa {
    padding: 0px 0px 10px 0px;
  }
}
.resa__subtitle {
  margin: 0px 0px 20px 0px;
}
.resa__btn {
  background: linear-gradient(#ff79da 0%, #9356dc 90%);
  color: #fff;
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  box-shadow: 1px 1px 10px #999;
}
.resa__btn:hover {
  box-shadow: 2px 2px 10px #666;
  cursor: pointer;
}

.blockfoot {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 250px;
  margin: 0px auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .blockfoot {
    width: 95%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .blockfoot {
    width: 100%;
    margin-left: 20px;
  }
}
.blockfoot__title {
  margin-top: 20px;
}
.blockfoot__title img {
  filter: invert(100%);
  width: 150px;
}
.blockfoot__link {
  padding: 0px;
  margin: 0px;
  color: #fff;
}
.blockfoot__link ul {
  padding: 0px;
}
.blockfoot__link li {
  list-style-type: none;
  margin-bottom: 10px;
}
.blockfoot__link li i {
  width: 20px;
  margin-right: 10px;
  font-size: 18px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .blockfoot__link li i {
    font-size: 14px;
    margin-right: 5px;
  }
}
.blockfoot__link li a {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}
@media (min-width: 320px) and (max-width: 767px) {
  .blockfoot__link li a {
    font-size: 14px;
  }
}

/** Styles de la grid**/
.grid {
  display: grid;
  background-color: #ccc;
  border-radius: 0px 0px 20px 20px;
  width: 80%;
  margin: 0px auto 20px auto;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 0px;
  height: 100%;
}
.grid__title {
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
  width: 100%;
  font-size: 30px;
  padding: 20px 0px 20px 20px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 4;
}
.grid__title i {
  padding: 0px 20px;
  font-size: 30px;
}
.grid__title h1 {
  margin: 0px;
  padding: 0px;
}
.grid__entree {
  background-color: #f2f2f2;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
}
.grid__entreetitle {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.grid__entreetitle hr {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #99e2d0;
  width: 40px;
}
.grid__plat {
  background-color: #f2f2f2;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  grid-row-start: 2;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-column-end: 3;
}
.grid__plattitle {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.grid__plattitle hr {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #99e2d0;
  width: 40px;
}
.grid__dessert {
  background-color: #f2f2f2;
  margin: 10px;
  padding: 10px;
  border-radius: 20px;
  grid-row-start: 2;
  grid-column-start: 3;
  grid-row-end: 3;
  grid-column-end: 4;
}
.grid__desserttitle {
  position: relative;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.grid__desserttitle hr {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  border: 1px solid #99e2d0;
  width: 40px;
}

/**==================**/
.menuimg {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  margin: 0px auto;
  border-top: 2px solid #9356dc;
}
.menuimg img {
  width: 90%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  border-radius: 0px 0px 20px 20px;
}

.carte {
  background-color: #fff;
  display: flex;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 1px 1px 10px #999;
  overflow: hidden;
  cursor: pointer;
  max-width: 100%;
}
.carte__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.carte__header h4 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carte__header p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.carte__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 10px;
}
.carte__confirmation {
  background-color: #99e2d0;
  margin: -10px -80px -10px 14px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.carte:hover .carte__confirmation {
  margin-right: -10px;
}
.carte__wrapicon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carte__icon {
  font-size: 30px;
  color: #fff;
}
.carte:hover .carte__icon {
  transform: rotate(360deg);
  transition-duration: 600ms;
  font-size: 30px;
  color: #fff;
}

.restaurant {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  padding: 10px 10px 40px 10px;
  width: 100%;
  margin: 0px auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .restaurant {
    width: 100%;
  }
}
.restaurant__title {
  width: 80%;
  margin: 0px auto;
  padding-left: 10px;
}
@media (min-width: 320px) and (max-width: 767px) {
  .restaurant__title {
    width: 100%;
    padding-left: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__title {
    width: 100%;
  }
}
.restaurant__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 80%;
  margin: 0px auto;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .restaurant__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .restaurant__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

.card {
  position: relative;
  border-radius: 20px;
  margin: 10px;
  width: 25%;
  background-color: #fff;
  box-shadow: 1px 1px 10px #999;
}
.card:hover {
  box-shadow: 2px 2px 10px #666;
}
.card a {
  text-decoration: none;
  color: black;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    width: 40%;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .card {
    width: 90%;
  }
}
.card__img img {
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}
.card__news {
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px 10px 5px 10px;
  background-color: #99e2d0;
}
.card__foot {
  display: flex;
  flex-direction: row;
}
.card__footblocktext {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50px;
  padding: 5px 0px 0px 15px;
}
.card__footext {
  padding-left: 15px;
  font-weight: bold;
}
.card__footsubtext {
  padding-left: 15px;
}
.card__footheart {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 30px;
}

/*# sourceMappingURL=style.css.map */
