/**
 * ----------------------------------------
 * Animation carte des menus
 * ----------------------------------------
 */
 /** Animation de l'image **/
 .animimg {
	animation: animimg 0.8s ease-in-out both;
}
@keyframes animimg {
  0% {
    transform: translateY(-500px);
    transform-origin: 100% 0%;
    opacity: 1;
    filter: grayscale(1);
  }
  100% {
    transform: translateY(0px);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}
/** Animation carte du menu **/
.animmenu {
	animation: animenu 0.8s ease-in-out 0.8s both;
}
@keyframes animenu {
  0% {
    transform: translateY(-400px);
    transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    transform-origin: 100% 0%;
    opacity: 1;
  }
}


 /** Animation des boutons -**/
.btntop {
  animation: btntop 0.8s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}
@keyframes btntop {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.btnmid {
  animation: btnmiddle 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}
@keyframes btnmiddle {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.btnbot {
  animation: btnbot 1.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 2s both;
}
@keyframes btnbot {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
