/** Bouton du block Réservation page d'accueil**/
@mixin BtnReservation {
}
/** Bouton du block Fonctionnement page d'accueil **/
@mixin btnfonct {
  display: flex;
  margin: 0px 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
}
/** Bouton du block réservation**/
@mixin resabtn {
  background: linear-gradient(
    160deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 60%
  );
  color: #fff;
  padding: 10px 20px;
  border-radius: 50px;
}
