/** Bouton du block réservation page d'accueil **/
@mixin resabtn {
  background: $btn-grad;
  text-align: center;
  color: #fff;
  padding: 15px 20px;
  border-radius: 50px;
  border: none;
  box-shadow: $shadow-off;
  &:hover {
    background: $secondary-color;
    box-shadow: $shadow-on;
    cursor: pointer;
  }
}
/** Bouton du block Fonctionnement page d'accueil **/
@mixin choicebtn {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f6f6f6;
  width: 350px;
  height: 50px;
  border: none;
  margin: 0px 20px;
  border-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  box-shadow: $shadow-off;
  @include portrait {
    width: 100%;
    margin-bottom: 30px;
    font-size: 1em;
  }
  @include mobiles {
    width: 100%;
    margin: 10px 0px 0px 10px;
    font-size: 0.9em;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 50px;
    background-color: $primary-color;
    height: 30px;
    width: 30px;
    margin-left: -20px;
  }
  i {
    padding: 0px 10px;
    color: $primary-color;
    @include mobiles {
      padding: 0px 15px;
    }
    @include portrait {
      padding: 0px 20px;
    }
  }
  &:hover {
    box-shadow: $shadow-on;
    background-color: #f5edff;
  }
}