/** Box sizing **/
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
  margin: 0px auto;
}
main {
  width: 100%;
  margin: 0px auto;
}
footer {
  background-color: #353535;
  width: 100%;
}
