h1 {
    font-size: 26px;
    font-weight: bold;
    @include mobiles {
        font-size: 20px;
    }
}
h2 {
    font-size: 24px;
    @include mobiles {
        font-size: 18px;
    }
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}